@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ViewModels.Item

@using (Html.BeginForm("Submission", "Item", new { area = "ItemOperations" }, FormMethod.Post, false, new { @class = "text-center align-middle" }))
{
    <div class="Submission-Form ">

        <label class="mx-3 mt-2">ID</label>
        <input asp-for="ID" class="mx-3 mt-2" type="number" name="ID"/>

        <label class="mx-3 mt-2">Name</label>
        <input asp-for="Name" class="mx-3 mt-2" type="text" name="Name"/>

        <label class="mx-3 mt-2">Price</label>
        <input asp-for="Price" class="mx-3 mt-2" type="number" step="0.01" name="Price"/>

    </div>
    <div>
        <button type="submit" class="mt-4 mx-auto">Submit</button>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success my-4">
        <p class="text-dark text-center">@TempData["SuccessMessage"]</p>
    </div>
}

@if (TempData["FailedMessage"] != null)
{
    <div class="alert alert-danger my-4">
        <p class="text-dark text-center">@TempData["FailedMessage"]</p>
    </div>
}