@addTagHelper *, MVC

<div class="modal fade" tabindex="-1" id="incorrectLogin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"> Error</h5>
            </div>
            <div class="modal-body text-dark"> The Provided Information Is Wrong</div>
            <div class="modal-footer">
                <SubmitButton id="ok-btn">Confirm</SubmitButton>
            </div>
        </div>
    </div>
</div>