@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = ViewData["ReturnUrl"];
}
@model ViewModels.LoginViewModel;
@addTagHelper *, MVC

<div id="wrapper" class=" d-flex h-100">

    <div class="d-none d-md-block login-background fill"></div>

    <div class="col-12 col-md-6 col-xl-4 login-pane">

        <div class="w-25 position-relative">
            <img src="~/Media/Logo.svg" style="width: 100%"/>
            <p>I Love Microsoft|! (Not real)</p>
       </div>

        <div class="login-form">
            
            @using (Html.BeginForm("AttemptLogin", "Account", FormMethod.Post, new { @onsubmit = "return false;", @id = "submitLoginForm" }))
            {
                @Html.AntiForgeryToken()

                <div>
                    <TextBox id="User" required="required" name="User" class="field-input-light" placeholder="Username"></TextBox>
                    @Html.ValidationMessageFor(Model => Model.User, "", new { @class = "text-danger" })
                </div>

                <div>
                    <TextBox id="Password" required="required" name="Password" class="field-input-light" placeholder="Password"></TextBox>
                    @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
                </div>

                <SubmitButton id ="login-btn">Login</SubmitButton>

                @Html.Hidden("ReturnUrl", ViewData["ReturnUrl"])
            }

        </div>
    </div>

</div>

<script src="~/js/Scripts/Views/Home/Login.js"></script>
