@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int maxID = ViewBag.maxID;
    List<KeyValuePair<string, string>> typeOptions = new List<KeyValuePair<string, string>> { new("Buyer","Buyer"), new("Seller","Seller")};
}
@model IEnumerable<ViewModels.Client>
@addTagHelper *, MVC

<h1>Clients</h1>
@using (Html.BeginForm("Submission", "Client", FormMethod.Post, new { @onsubmit = "return false", id = "submit-form" }))
{
    @Html.AntiForgeryToken()
    <table class="table text-light">
    <colgroup>
        <col style="width: 10%" />
        <col style="width: 40%" />
        <col style="width: 30%" />
        <col style="width: 20%"/>
    </colgroup>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            await Html.RenderPartialAsync("ClientSlice", client);
        }

        <tr id="row-create" style="display:none">
            <td>
                <span id="create-id">@maxID</span>
            </td>
            
            <td>
                <TextBox id="create-name" name="Name" value="Name" required="required"></TextBox>
                    @Html.ValidationMessageFor(Model => Model.LastOrDefault().Name, "", new { @class = "text-danger" })
                </td>
            
            <td>
                <Dropdown id="create-type" name="Type" options="typeOptions" class="form-control"></Dropdown>
            </td>
            
            <td>
                <SaveButton></SaveButton>
                <CancelButton></CancelButton>
            </td>
        </tr>

        <tr id="row-create-btn">
                <td style="border: 0px"><CreateButton></CreateButton></td>
            
        </tr>
    </tbody>
</table>
}

<script src="~/js/Scripts/Areas/ClientOperations/Views/Index.js"></script>