@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ViewModels.Client

@using (Html.BeginForm("Submission", "Client", new { area = "ClientOperations" }, FormMethod.Post, false, new { @class = "text-center align-middle" }))
{
    <div class="Submission-Form ">

        <label for="ID" class="mx-3 mt-2">ID</label>
        <input asp-for="ID" class="mx-3 mt-2" type="number" name="ID" />

        <label for="Name" class="mx-3 mt-2">Name</label>
        <input asp-for="Name" class="mx-3 mt-2" type="text" name="Name" />

        <label for="Type" class="mx-3 mt-2">Type (1/2)</label>
        <input asp-for="Type" class="mx-3 mt-2" type="number" min="1" max="2" value="1" name="Type" />

    </div>
    <div>
        <button type="submit" class="mt-4 mx-auto">Submit</button>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success my-4">
        <p class="text-dark text-center">@TempData["SuccessMessage"]</p>
    </div>
}

@if (TempData["FailedMessage"] != null)
{
    <div class="alert alert-danger my-4">
        <p class="text-dark text-center">@TempData["FailedMessage"]</p>
    </div>
}